body
{
	background: #CCCCCC;
	padding: 30px;
	margin: 0;
	font-family: "SuperSmash";
    src: url(./font/SuperSmash.ttf)
}

#error-box
{
	width: 800px;
	background-color: #f8f8f8;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #111;
	border-radius: 6px;
	box-shadow: 0 0 5px 5px #888;
}

div.error-copyright
{
	text-align: center;
}

div.error-header 
{
	margin: 10px;
	font-weight: bold;
	font-size: 24px;
	color: #CC0000;
	border-bottom: 1px solid #666666;
}

div.error-message 
{
	margin:10px;
	font-size: 16px;
}

div.debug-error-message 
{
	margin:10px;
	font-size: 16px;	
}

img.error 
{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.header
{
	margin: 10px;
	font-weight: bold;
	font-size: 24px;
	color: #000000;
	text-align: center;
	padding-bottom: 5px;
	border-bottom: 1px solid #666666;
}
div.links 
{
	border-top: 1px solid #666666;
	padding-top: 3px;
	margin:10px;
	text-align: center;
	font-size: 12px;
}
div.message 
{
	margin:10px;
	text-align: center;
	font-size: 14px;
}

#footer 
{
	width:600px;
	margin: 0 auto;
	background: #f8f8f8;
	border: 1px solid #999;
    border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 0 0 5px 5px #888;
	text-align: center;
}

pre
{
	margin: 0px 0px 10px 0px; 
	display: block; 
	background: white; 
	color: black; 
	font-family: Verdana; 
	border: 1px solid #CC0000; 
	padding: 5px; 
	font-size: 11px; 
	line-height: 14px;
	overflow:auto;
}

* 
{
	margin: 0;
}

html, body 
{
	height: 100%;
}
.wrapper 
{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.SuperSmashFramework, .bottom
{
	height: 142px; /* .bottom must be the same height as .footer */
}